<div fxLayout="column">
  <div class="title" fxLayout="row" fxLayoutAlign="center center">
    <h1>Top Heroes</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" class="top-heroes">
    <ng-container *ngFor="let hero of heroes">
      <div class="hero-card">
        <mat-card (click)="onDetails(hero)">
          <h1>{{hero.name}}</h1>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
