<mat-toolbar>Tour of Heroes</mat-toolbar>
<mat-toolbar>
  <button mat-button routerLink="dashboard" routerLinkActive="active">Dashbouard</button>
  <button mat-button routerLink="heroes" routerLinkActive="active">Heroes</button>
  <button mat-button routerLink="create" routerLinkActive="active">Add New</button>
</mat-toolbar>
<router-outlet></router-outlet>
