<div class="view" fxLayoutAlign="center center">
  <mat-card class="card-details">
    <mat-card-title>{{getTitle}}</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field *ngIf="!isNew">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="button" (click)="goBack()">Go Back</button>
        <button mat-button [disabled]="form.invalid" type="submit">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
