.view {
  max-width: 350px;
  margin: 25px auto
}

.active {
  background-color: aqua;
}

mat-card {
  margin: 5px;
}

.id {
  width: 35px;
}

.scroll {
  max-height: 500px;
  overflow: auto;
}

.action {
  margin-top: 20px;
}
