<div class="view">
  <h1>My Heroes</h1>
  <div class="scroll">
    <ng-container *ngFor="let hero of heroes">
      <mat-card [ngClass]="selectedHero?.id == hero?.id ? 'active' : ''" (click)="onSelect(hero)">
        <div fxLayout="row">
          <div fxFlex fxLayoutAlign="start center">
            <span class="id">{{hero.id}}</span>
            <span [appHero]="hero?.name">
              {{hero.name}}
            </span>
          </div>
          <div fxLayoutAlign="start center">
            <button color="warn" mat-icon-button (click)="onDelete(hero.id!)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </div>
  <div class="action" fxLayout="column">
    <div fxLayout="row">
      <h2 *ngIf="selectedHero">{{selectedHero.name | uppercase}} is my hero</h2>
    </div>
    <div fxLayout="row">
      <button mat-button [disabled]="!selectedHero" (click)="onDetails()">View Details</button>
    </div>
  </div>
</div>
